html, body {
  min-height: 100%;
}

[id*="m-"] {
  background-repeat: no-repeat;
  /** UGLY HACK: avoid multi lines of javascript **/
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-transition: background .6s linear;
  -moz-transition: background .6s linear;
  -o-transition: background .6s linear;
  transition: background .6s linear;
}

.pull-center {
  margin: auto;
}

.pos-absolute {
  position: absolute;
}

.m-logo {
  top: 0; left: 0; bottom: 0; right: 0;
}

.m-logo--inputs {
  top: 100px;
  left: 20px;
}

.m-logo,
#m-logo--background {
  width: 500px;
  height: 500px;
}

#m-logo--background {
  overflow: hidden;
  -webkit-mask-image: url(../images/frame.png);
  background: url(../images/fauve.jpg);
}

.m-copyright {
  bottom: 0px;
  right: 10px;
  text-align: right;
}
