html, body {
  min-height: 100%;
  height: 100%;
}

#m-background {
  z-index: -1;
}

.pull-center {
  margin: auto;
}

.pos-absolute {
  position: absolute;
}

.m-logo {
  top: 0; left: 0; bottom: 0; right: 0;
}

.m-logo--inputs {
  top: 100px;
  left: 20px;
}

.m-logo {
  width: 500px;
  height: 500px;
}

.m-copyright {
  bottom: 0px;
  right: 10px;
  text-align: right;
}

.tips {
  background: rgba(0, 0, 0, .8);
  color: white;
  display: none;
  font-size: 1.5em;
  height: 100%;
  left: 0;
  line-height: 1.4em;
  padding: 10% 33%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
